.underlined_link {
    color: #662E9B;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }

  .underlined_link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125rem;
    background: #662E9B;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }

  .underlined_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }