.no_decoration {
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}

.primary {
    color: #662E9B;
}

.secondary {
    color: grey;
}

.underlined {
    text-decoration: underline;
}

.listings {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 0 1rem; 
    margin: auto;
}

.listing {
    margin: 1rem 0;
}