.no_decoration {
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 18px;
  padding: 15px 20px;
}

.primary {
  color: #662e9b;
}

.secondary {
  color: grey;
}

.underlined {
  text-decoration: underline;
}

.listings {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 0 1rem;
  margin: auto;
}

.listing {
  margin: 1rem 0;
}

.line {
  width: 56px;
  height: 2px;
  border-radius: 18px;
  background-color: #000;
  margin: 20px auto;
}
