.container {
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "header"
  "content"
  "footer";
}

.centered {
  margin: auto;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}